@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


html, body{
    height: 100vh; /* Altura da tela - viewport height */
    width: 100vw; /* Largura da tela - viewport width */
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover; /* A imagem é redimensionada para garantir que não haja espaços vazios visíveis no fundo. */
    background-attachment: fixed; /* Fixa a imagem de fundo, para que ela não role com a página. */
    background: 
}


main{
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Centraliza para o meio da tela*/
    
    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat
}
    
iframe#tela{
        position: relative;
        top: 80px;
        left: 22px;
        width: 269px;
        height: 471px;
    }

